@page "{id:int}"
@model PizzaHubWebApp.Pages.Admin.Pizzas.EditPizza

@{
    Layout = "Shared/_Layout";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<h1 class="text-center">Edit Pizza</h1>
<div class="product-wrapper">
    <form method="post" style="height: -webkit-fill-available" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="PizzaModel.PizzaId">Pizza Id: </label>
            <input class="form-control" required asp-for="PizzaModel.PizzaId"
                   value="@Model.PizzaModel.PizzaId"
                   readonly
                   type="text">
        </div>
        <div class="form-group">
            <label asp-for="PizzaModel.PizzaName">Pizza Name: </label>
            <input class="form-control" required asp-for="PizzaModel.PizzaName"
                   value="@Model.PizzaModel.PizzaName"
                   type="text">
        </div>
        <div class="form-group">
            <label asp-for="PizzaModel.Price">Price: </label>
            <input class="form-control" required asp-for="PizzaModel.Price"
                   value="@Model.PizzaModel.Price"
                   type="number">
        </div>
        <div class="form-group">
            <label asp-for="PizzaModel.CategoryId">
                Category
            </label>
            <select class="form-control" asp-for="PizzaModel.CategoryId">
                @foreach (var cate in Model.Categories)
                {
                    <option value="@cate.CategoryId">@cate.CategoryName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="PizzaModel.SauceId">Sauce</label>
            <select class="form-control" asp-for="PizzaModel.SauceId">
                @foreach (var sauce in Model.Sauces)
                {
                    <option value="@sauce.SauceId">@sauce.SauceName</option>
                }
            </select>
        </div>
        <img src="~/Assets/Images/Pizza/@Model.PizzaModel.Image" alt="">
        <input type="text" asp-for="@Model.PizzaModel.Image" hidden>
        <div class="form-group">
            <label asp-for="@Model.PizzaModel.Image">Image</label>
            <input name="pizzaImg"
                   id="@Model.PizzaModel.Image"
                   type="file"
                   class="form-control-file">
        </div>
        <div class="form-group">
            <label asp-for="PizzaModel.StatusId"></label>
            <select asp-for="PizzaModel.StatusId" class="form-control">
                @foreach (var status in Model.Statuses)
                {
                    <option value="@status.StatusId">@status.Status1</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="PizzaModel.Description">Description</label>
            <textarea required asp-for="PizzaModel.Description" class="form-control" type="textarea">
        </textarea>
        </div>
        <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Choose your Topping: </legend>

            @foreach (var t in Model.Toppings)
            {
                <div class="checkbox">
                    <label class="checkbox-wrapper">
                        @if (Model.SelectedToppings.Contains(t.ToppingId))
                        {
                            <input type="checkbox" class="checkbox-input" name="Selected" value="@t.ToppingId" checked/>
                        }
                        else
                        {
                            <input type="checkbox" class="checkbox-input" name="Selected" value="@t.ToppingId"/>
                        }
                        <span class="checkbox-tile">
                            <span class="checkbox-icon">
                                <img src="~/Assets/Images/Ingredients/singles/@t.Image" alt="@t.ToppingId">
                            </span>
                            <span class="checkbox-label">@t.ToppingName</span>
                        </span>
                    </label>
                </div>
            }
        </fieldset>
        <button type="submit" class="btn text-center">Update Pizza</button>
    </form>
</div>