@page "{id}"
@model PizzaHubWebApp.Pages.Detail
@{
    Layout = "Shared/_Layout";
}
<div class="container-fluid">
    <section class="detail-section">
        <div class="detail-section-left">
            <img src="~/Assets/Images/Pizza/@Model.PizzaModel.Image" alt="">
        </div>
        <div class="detail-section-right">
            <div class="detail-section-information">
                <section class="detail-section-information-text">
                    <h2>@Model.PizzaModel.PizzaName</h2>
                    <p >@Model.PizzaModel.Description</p>
                    <div class="category-list">
                        @foreach (var topping in Model.ToppingByPizza)
                        {
                            <a class="btn btn-light">
                                <img height="32x" src="~/Assets/Images/Ingredients/@topping.Topping.Image" alt=""/>
                                @topping.Topping.ToppingName
                            </a>
                        }
                    </div>
                </section>
                <section class="detail-section-information-text">
                    <form method="post" asp-page-handler="Checkout">
                        <input type="hidden" name="id" value="@Model.PizzaModel.PizzaId" />
                        <h5>Choose Size:</h5>
                        @foreach (var size in Model.Sizes)
                        {
                            <div class="form-check">
                                <input type="radio" name="size" id="@size.SizeId"
                                       value="@size.SizeId"
                                       class="form-check-input" />
                                <label class="form-check-label">
                                    @size.Size1
                                </label>
                            </div>
                        }

                        <h5>Choose Base: </h5>
                        @foreach (var item in Model.Bases)
                        {
                            <div class="form-check">
                                <input type="radio" class="form-check-input"
                                       name="pizzabase" id="@item.BaseId">
                                <label for="@item.BaseId" class="form-check-label">
                                    @item.Base
                                </label>
                            </div>
                        }
                        <h5>Quantity: </h5>
                        <input type="number" name="quantity" min="1" value="1" />
                        <section class="detail-section-information-text">
                            <h2>Price: @Model.TotalPrice</h2>
                        </section>
                        <input type="submit" class="btn btn-primary" value="Add To Cart" />
                        @*<a class="btn btn-primary" href="Cart/@Model.PizzaModel.PizzaId/" class="btn">
            Add To Cart
        </a>*@
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>