@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table table-borderless">
        <tr>
            <td>Pizza Id</td>
            <td>Pizza Name</td>
            <td>Category</td>
            <td>Sauce</td>
            <td>Status</td>
            <td>Image</td>
        </tr>
        @foreach (var pizza in Model.Pizzas)
        {
            <tr>
                <td>@Html.DisplayFor(model => pizza.PizzaId)</td>
                <td>@Html.DisplayFor(model => pizza.Name)</td>
                <td>@Html.DisplayFor(model => pizza.Category.Name)</td>
                <td>@Html.DisplayFor(model => pizza.SauceId)</td>
                <td>@Html.DisplayFor(model => pizza.Status)</td>
                <td>
                    <img src="@pizza.Image" alt="@pizza.Name">
                </td>
            </tr>
        }
    </table>
</div>